<a name="photos"></a>
<div class="title text-center" id="photos">
  <%= image_tag("frog.png", :alt => "rss feed", :class => "img-circle img-responsive img-center" , :width => "200") %><h1> 照片們 PHOTOS</h1>
</div>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Carousel indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
          
      </ol>   
     <!-- Carousel items -->
      <div class="carousel-inner">
          <div class="active item">
            <%= image_tag("slide_1.JPG", :width => "1200") %>
          </div>
          <div class="item">
            <%= image_tag("slide_2.JPG", :width => "1200") %>
          </div>
          <div class="item">
            <%= image_tag("slide_3.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_4.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_5.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_6.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_7.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_8.JPG", :width => "1200") %>
          </div>
          <div class="item">
             <%= image_tag("slide_9.JPG", :width => "1200") %>
          </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
  <br>
  
</div>  