

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<!--
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
-->

 <!-- Header
<header>
    <div class="container">	
        <div class="intro-text">
        	<div class="intro-heading">We're getting married</div>
            <div class="intro-lead-in">Welcome To Our wedding ceremony !</div>
            <br><br>
            <div class="intro-lead-in">12.27.2015 TAIPEI</div>
            <div class="intro-lead-in">1.17.2015 TAITUNG</div>          
        </div>
    </div>
</header>
 -->


<%= render 'section_movie' %>
<%= render 'section_profile' %>
<%= render 'section_gallery' %>
<%= render 'section_location' %>
<%= render 'section_invite' %>
<%= render 'section_comment' %>


